
/* Completely remove from the flow and screen readers. */
.base-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.base-invisible {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Display Classes */
.base-hidden--small {
  @media all and (max-width: $bp-med) {
    display: none;
  }
}

.base-hidden--med {
  @media all and (min-width: $bp-med) and (max-width: $bp-large) {
    display: none;
  }
}

.base--hidden--large {
  @media all and (min-width: $bp-large) {
    display: none;
  }
}
