<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ffff00;"></span>
    <span class="sg-label">yellow: #ffff00</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">white: #ffffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #808080;"></span>
    <span class="sg-label">gray: #808080</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">black: #000000</span>
  </li>
</ul>
