<div class="g g-4up widget widget-events-next">
  <h2>More events</h2>
  <div class="gi">{{> molecules-event-teaser-small }}</div>
  <div class="gi">{{> molecules-event-teaser-small }}</div>
  <div class="gi">{{> molecules-event-teaser-small }}</div>
  <div class="gi">{{> molecules-event-teaser-small }}</div>
</div>
