<section class="g g-2up widget widget-events-current">
  <div class="gi widget-events-current-next">
    <h2 class="section-title">Next event</h2>
    {{> molecules-event-teaser }}
  </div>
  <div class="gi widget-events-current-past">
    <h2 class="section-title">Past event</h2>
    {{> molecules-event-teaser-past }}
  </div>
</section>

